.container-width {
  width: 60dvw;
  overflow-y: hidden;
}

@media screen and (max-width: 800px) {
  .container-width {
    width: 90dvw;
    height: 90dvh;
    overflow-y: scroll;
  }
}

.btn-contained {
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px 2px #ddd;
  background-color: #27272a;
  color: #fff;
  text-transform: none;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}
.btn-contained:hover {
  background-color: #3f3f46;
}

.icon-btn-contained {
  padding: 0.25rem 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 2px #ddd;
  background-color: #27272a;
  color: #fff;
  text-transform: none;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}
.icon-btn-contained:hover {
  background-color: #3f3f46;
}

.icon-btn-contained-small {
  height: 2rem;
  width: 2rem;
  padding: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: #e2e8f0;
  color: #fff;
  text-transform: none;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}
.icon-btn-contained-small:hover {
  background-color: #bdc1c6;
}
